@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,200&family=Raleway:ital,wght@0,200;0,900;1,300&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter\ -\ Zero\ Zero.woff"),
         url("Fonts/Booter\ -\ Zero\ Zero.woff2")    
}

* {
    box-sizing: border-box;
    font-family: JetBrains Mono;
    color: #777777;
}
html, body{
    margin: 0;
    padding: 0;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav li {
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.nav ul {
    margin: 0;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("Images/HeaderBG.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Booter - Zero Zero"
}